<!DOCTYPE html>
<html lang="en">
  <%- include("layout/common/head.ejs"); %>
  <body>
    <main class="container mx-auto">
      <%- include("layout/common/navbar.ejs"); %>
      <h1 class="text-3xl font-bold text-red-500 underline">hello</h1>
    </main>

    <!-- ===== script ======== -->
    <script src="/js/index.js"></script>
  </body>
</html>
