<!DOCTYPE html>
<html lang="en" data-theme="pink">
  <%- include("layout/common/head.ejs"); %>
  <body>
    <div class="container mx-auto">
      <%- include("layout/common/navbar.ejs"); %> <%-
      include('layout/auth/signupComponent.ejs'); %>
    </div>

    <script src="/js/index.js"></script>
    <script src="/js/auth/signup.js"></script>
  </body>
</html>
