<!DOCTYPE html>
<html lang="en" data-theme="pink">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />

    <title>Note | naimdotcom</title>
  </head>
  <body class="font-[chalkboard,comic sans ms]">
    <div class="container mx-auto">
      <%- include('layout/common/navbar.ejs'); %> <%-
      include('layout/auth/signupComponent.ejs'); %>
    </div>

    <script src="/js/index.js"></script>
    <script src="/js/auth/signup.js"></script>
  </body>
</html>
