@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui/theme" {
  name: "pink";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(97% 0.017 320.058);
  --color-base-200: oklch(95% 0.037 318.852);
  --color-base-300: oklch(90% 0.076 319.62);
  --color-base-content: oklch(40% 0.17 325.612);
  --color-primary: oklch(83% 0.145 321.434);
  --color-primary-content: oklch(29% 0.136 325.661);
  --color-secondary: oklch(86% 0.127 207.078);
  --color-secondary-content: oklch(30% 0.056 229.695);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(45% 0.211 324.591);
  --color-neutral-content: oklch(97% 0.017 320.058);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
