<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="./assets/notebook-pen.svg" />
  <meta name="description" content="naimdotcom" />
  <meta name="author" content="naimdotcom" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/output.css" />
  <title>Note | naimdotcom</title>
</head>
